:root {
  --background-color-hero: #ffb8ca;
  --secondary-text: #ffffff;
  --accent-color: #d41443;
  --accent-text: #ffa5ba;
  --secondary-accent-text: #000000;
  --primary-text: #907e82;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
}

body {
  font-family: 'DM Sans', sans-serif;
  letter-spacing: 0.04em;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 1280px;
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 60px;
  margin-right: auto;
  margin-left: auto;
  /* border: 2px solid red; */
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: transparent;
  border-radius: 22px;
  text-align: center;

  text-decoration: inherit;

  min-width: 107px;
  height: 44px;
}

/* ----------HEADER-HERO---------- */

.header-hero-wrap {
  background-color: var(--background-color-hero);
}

.header-hero {
  position: relative;
  width: 1280px;
  height: 664px;
  padding-top: 37px;
  padding-right: 16px;
  padding-left: 16px;
  margin-left: auto;
  margin-right: auto;
}
/* ----------HEADER---------- */

/* .header {
  padding-top: 37px;
  padding-bottom: 60px;
} */

.heder-container {
  /* padding-bottom: 60px; */
}

.navigation {
  display: flex;
  align-items: center;
  padding-bottom: 60px;
}

.header-list {
  display: flex;
  margin-left: 175px;
  z-index: 2;
}

.header-item {
  /* padding-top: 52px;
  padding-bottom: 52px; */
}

.header-item + .header-item {
  margin-left: 35px;
}

.header-link {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  color: var(--secondary-text);

  transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: auto;
  min-width: 159px;
  height: 44px;
  border-radius: 22px;
  background-color: #ffffff;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;

  color: var(--accent-color);

  transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons-vector {
  margin-left: 12px;
}

.header-btn:hover,
.header-btn:focus {
  background-color: #ecebeb;
}

.icon-up-svg {
  position: fixed;
  bottom: 30px;
  right: 30px;
  fill: var(--accent-text);
  cursor: pointer;
  /* z-index: 1; */

  transition: fill 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-up-svg:hover {
  fill: var(--accent-color);
}

/* ----------HERO---------- */

.hero {
  padding-bottom: 60px;
  background-color: var(--background-color-hero);
}

.hero-container {
  position: relative;
}

.hero-title {
  font-family: 'Titan One';
  font-weight: 400;
  font-size: 38px;
  line-height: 1.16;
  text-transform: uppercase;
  /* padding-top: 147px; */
  margin-bottom: 24px;

  color: var(--secondary-text);
}

.hero-span {
  font-family: 'Titan One';
  font-weight: 400;
  font-size: 58px;
  line-height: 0.9;
  text-transform: uppercase;

  color: var(--accent-color);
}

.hero-span::after {
  position: absolute;
  content: '';
  width: 534px;
  height: 534px;
  border-radius: 50%;
  bottom: 76px;
  right: 229px;
  background-color: #ffa5ba;
  z-index: 1;
}

/* .hero-list {
  right: 34px;
} */

.hero-cafe {
  position: absolute;
  right: 34px;
  top: 153px;
}

.hero-food {
  position: absolute;
  right: 34px;
  top: 245px;
}

.hero-item {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.hero-number {
  font-family: 'Titan One';
  font-weight: 400;
  font-size: 46px;
  line-height: 53px;
  text-transform: uppercase;
  right: 34px;

  z-index: 10;
  color: #d41443;
}

.hero-number::after {
  content: '';
  position: absolute;
  right: -16px;
  top: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ffffff;
  z-index: -1;
}

.hero-text-right {
  font-family: 'DM Sans';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;

  color: var(--secondary-text);
}

.hero-button {
  display: flex;
}

.hero-btn-accent {
  margin-right: 12px;
  min-width: 107px;
  height: 40px;

  font-family: 'DM Sans';
  font-size: 14px;
  line-height: 1.28;
  align-items: center;
  text-align: center;

  color: var(--secondary-text);
  background-color: var(--accent-color);

  transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn-accent:hover,
.hero-btn-accent:focus {
  background-color: #c7133e;
}

.hero-btn {
  margin-bottom: 108px;

  min-width: 137px;
  height: 40px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  align-items: center;
  text-align: center;

  color: #d41443;
  background-color: var(--secondary-text);

  transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #ecebeb;
}

.hero-text-wrap {
  margin-left: 213px;
}

.hero-text {
  width: 200px;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.43;

  color: #ffffff;
}

/* .hero-details {
}

.hero-summary {
} */

.hero-summary {
  /* content: ''; */
  width: 26px;
  height: 26px;
  background-image: url(../images/arrow-right.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
  display: block;
}

.hero-summary-text {
  font-size: 14px;
  line-height: 1.43;

  color: #ffffff;
}

.hero-milk {
  position: absolute;
  left: 16px;
  bottom: 60px;
}

.hero-right {
  position: absolute;
  top: 424px;
  right: 16px;
  z-index: 1;
}

.hero-ice {
  position: absolute;
  right: 408px;
  bottom: 0;
  z-index: 1;
}

/* ----------PRODUCTS---------- */

.products {
  padding-top: 60px;
  padding-bottom: 60px;
}

.products-pre-text {
  font-family: 'Titan One';
  font-weight: 400;
  font-size: 30px;
  line-height: 1.13;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 16px;

  color: var(--accent-text);
}

.products-title {
  margin-bottom: 261px;
  font-family: 'Titan One';
  font-weight: 400;
  font-size: 58px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--accent-color);
}

.products-list {
  display: flex;
}

.products-item {
  position: relative;
  height: 535px;
  /* flex-basis: calc((100% - 96px) / 3); */
  border-radius: 24px;
  margin: 0 auto;
  padding-top: 165px;
  padding-right: 75px;
  padding-bottom: 60px;
  padding-left: 75px;
}

.products-item + .products-item {
  margin-left: 32px;
  /* height: 535px; */
}

.products-item-pink {
  background-color: #ffb8ca;
}

.products-item-pink::before {
  position: absolute;
  display: block;
  content: '';

  left: 50%;
  bottom: 110%;
  transform: translate(-50%, 50%);

  width: 394px;
  height: 394px;
  background-image: url(../images/home-pic1.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.products-item-coffee {
  background-color: #f0d1a5;
}

.products-item-coffee::before {
  position: absolute;
  display: block;
  content: '';

  left: 50%;
  bottom: 110%;
  transform: translate(-50%, 50%);

  width: 394px;
  height: 394px;
  background-image: url(../images/home-pic2.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.products-item-green {
  background-color: #c2e297;
}

.products-item-green::before {
  position: absolute;
  display: block;
  content: '';

  left: 50%;
  bottom: 110%;
  transform: translate(-50%, 50%);

  width: 394px;
  height: 394px;
  background-image: url(../images/home-pic3.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.products-item-title {
  margin-bottom: 70px;

  font-family: 'Titan One';
  font-weight: 400;
  font-size: 30px;
  line-height: calc(34 / 30);
  text-align: center;
  text-transform: uppercase;

  color: var(--secondary-text);
}

.products-item-title::after {
  position: absolute;
  content: '...';
  right: 185px;
  bottom: 298px;
}

.products-text {
  margin-bottom: 60px;
}

.products-text,
.products-summary-text {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(28 / 16);
  text-align: center;

  color: #ffffff;
}

.products-details {
  /* left: 50%; */
}

.products-summary {
  position: relative;
  left: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-image: url(../images/arrow-right.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: block;
  cursor: pointer;
}

.products-details[open] {
}

.products-details[open] .products-details__summary {
}

/* ----------ABOUT---------- */

.about {
  padding-top: 60px;
  padding-bottom: 39px;
  background-color: #fff5f6;
}

.about-pre-text {
  font-family: 'Titan One';
  font-weight: 400;
  font-size: 30px;
  line-height: calc(34 / 30);
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 16px;

  color: var(--accent-text);
}

.about-title {
  font-family: 'Titan One';
  font-weight: 400;
  font-size: 58px;
  line-height: calc(66 / 58);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--accent-color);
}

.about-box {
  display: flex;
  align-items: center;
  margin-top: 60px;
}

.about-content-box {
  margin-left: 139px;

  max-width: 463px;
}

.about-text {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(28 / 16);
  margin-bottom: 32px;

  color: var(--secondary-accent-text);
}

.about-after-text {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(27 / 14);
  margin-bottom: 40px;

  color: var(--primary-text);
}

.about-btn {
  min-width: 176px;
  height: 44px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(21 / 16);
  align-items: center;
  text-align: center;

  color: var(--accent-color);
  background-color: var(--secondary-text);

  transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.about-btn:hover,
.about-btn:focus {
  background-color: #ecebeb;
}

/* ----------ADVANTAGES---------- */

.advantages {
  background-color: #fff5f6;
}
.advantages-list {
  display: flex;
  padding-bottom: 120px;
}

.advantages-item {
  position: relative;
}

.advantages-number {
  font-family: 'Titan One';
  font-weight: 400;
  font-size: 58px;
  line-height: 66px;

  color: var(--accent-color);
}

.advantages-icon1::before {
  content: '';
  width: 33px;
  height: 50px;
  background-image: url(../images/advantages-icon1.png);
  background-repeat: no-repeat;
  background-size: contain;

  position: absolute;
  top: -40px;
  left: 0;
  transform: translateY(-100%);
}

.advantages-icon2::before {
  content: '';
  width: 50px;
  height: 50px;
  background-image: url(../images/advantages-icon2.png);
  background-repeat: no-repeat;
  background-size: contain;

  position: absolute;
  top: -40px;
  left: 0;
  transform: translateY(-100%);
}

.advantages-icon3::before {
  content: '';
  width: 44px;
  height: 50px;
  background-image: url(../images/advantages-icon3.png);
  background-repeat: no-repeat;
  background-size: contain;

  position: absolute;
  top: -40px;
  left: 0;
  transform: translateY(-100%);
}

.advantages-text {
  font-weight: 700;
  font-size: 16px;
  line-height: calc(28 / 16);
  letter-spacing: 0.02em;

  color: var(--secondary-accent-text);
}

/* ----------REVIEWS---------- */

.reviews-img {
  margin: 0 auto;
  margin-bottom: 16px;
}
.reviews-text {
  margin-bottom: 36px;

  font-weight: 500;
  font-size: 16px;
  line-height: calc(30 / 16);
  text-align: center;

  color: var(--secondary-accent-text);
}

.reviews-client {
  font-weight: 500;
  font-size: 20px;
  line-height: calc(37 / 20);
  text-align: center;

  color: var(--secondary-accent-text);
}

/* ----------CONTACT---------- */

.contact-title {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(30 / 16);

  color: var(--secondary-text);
  background-color: rgba(240, 209, 165, 1);
}

.contact-list-title {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(30 / 16);

  color: var(--secondary-accent-text);
}

.contact-list-paragraph {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(29 / 16);

  color: var(--primary-text);
}

.contact-list {
  display: flex;
  margin-bottom: 60px;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(30 / 16);

  color: var(--accent-text);
}

.contacts-item {
  padding: 40px;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  background-color: #ffffff;
}

.contacts-item + .contacts-item {
  margin-left: 32px;
}

.contact-list-link {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(29 / 16);

  color: var(--primary-text);
}

.contacts-list-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacts-btn-accent {
  margin-right: 15px;

  min-width: 198px;
  height: 44px;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(21 / 16);
  align-items: center;
  text-align: center;

  color: var(--secondary-text);
  background-color: var(--accent-color);

  transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-btn-accent:hover,
.contacts-btn-accent:focus {
  background-color: #c7133e;
}

.contacts-btn {
  min-width: 180px;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(21 / 16);
  align-items: center;
  text-align: center;

  color: var(--accent-color);
  background-color: #ffffff;

  transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-btn:hover,
.contacts-btn:focus {
  background-color: #ecebeb;
}

/* ----------FOOTER---------- */

.footer {
  background-color: #fff5f6;
}
.footer-container {
  display: flex;
  justify-content: space-between;
}

.footer-subtitle {
  font-family: 'Titan One';
  font-weight: 400;
  font-size: 30px;
  line-height: calc(34 / 30);
  text-transform: uppercase;

  color: var(--accent-text);
}

.footer-text {
  font-family: 'Titan One';
  font-weight: 400;
  font-size: 58px;
  line-height: calc(66 / 58);
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--accent-color);
}

.footer-list {
  display: flex;
  margin-bottom: 40px;
}

.footer-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-left: auto;

  width: 34px;
  height: 34px;
  background-color: #fea5bb;

  transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-item + .footer-item {
  margin-left: 25px;
}

.footer-item:hover,
.footer-item:focus {
  background-color: #d41443;
}

.footer-contacts-text {
  display: inline-flex;
  align-items: center;
}

.footer-contacts {
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.02em;

  color: var(--secondary-accent-text);
}

.footer-contact-link {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.02em;

  color: var(--accent-color);
}

.footer-copy {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(26 / 14);
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--primary-text);
}

/* ----------MODAL---------- */

.backdrop {
  width: 100vw;
  height: 100vh;
  top: 0;
  position: fixed;
  background-color: hsla(0, 0%, 0%, 0.2);
  z-index: 2;
}

.modal-wrap {
  position: absolute;
  width: 400px;
  height: 500px;
  background-color: #ffffff;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 24px;
  padding: 44px;
}

.modal-wrap::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../images/home-pic3.png);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.2;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.mobal-icon-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid var(--accent-text);
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  fill: var(--accent-text);

  transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 500ms cubic-bezier(0.4, 0, 0.2, 1),
    border 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobal-icon-btn:hover,
.mobal-icon-btn:focus {
  fill: #ffffff;
  border: var(--accent-color);
  background-color: var(--background-color-hero);
}

.modal-title {
  margin-bottom: 20px;
  font-family: 'Titan One';
  font-weight: 400;
  font-size: 38px;
  line-height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--accent-color);
}

.modal-box {
  width: 100%;
  text-align: left;
}

.modal-box__item,
.modal-textarea__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 100%;
}

.modal-label {
  margin-bottom: 4px;
  text-align: left;
  color: var(--accent-color);
}

.modal-input,
.modal-textarea {
  outline: none;
  width: 100%;
  height: 40px;
  padding-left: 20px;
  border: none;
  border-bottom: 1px solid #ffa5ba;
  color: var(--accent-color);
  font-family: DM Sans;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.8125;
  letter-spacing: 0.04em;
  transition: border-color 0.25s linear;
  /* background-color: inherit; */
}

.modal-input:hover,
.modal-textarea:hover,
.modal-input:focus,
.modal-textarea:focus {
  border-bottom: 2px solid var(--accent-color);
}

.modal-textarea {
  height: 70px;
}

::placeholder {
  color: var(--accent-text);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal-btn {
  position: absolute;
  bottom: 20px;
  right: 150px;
  width: 100px;
  height: 40px;
  border-radius: 30px;
  border: 1px solid var(--accent-color);
  color: var(--accent-color);

  background-color: transparent;

  transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1),
    color 500ms cubic-bezier(0.4, 0, 0.2, 1),
    border 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  color: #ffffff;
  background-color: var(--background-color-hero);
  border: transparent;
}

textarea {
  resize: none;
}
