.about {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url(../images/sectionbg.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: 210px;

  background-color: #fff5f6;
}

.about__pre-text {
  font-family: 'Titan One';
  font-weight: 400;
  font-size: 30px;
  line-height: calc(34 / 30);
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 16px;

  color: var(--accent-text);
}

.about__title {
  font-family: 'Titan One';
  font-weight: 400;
  font-size: 58px;
  line-height: calc(66 / 58);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--accent-color);
}

.about-box {
  display: flex;
  align-items: center;
  margin-top: 60px;
}

.about-box__content {
  margin-left: 139px;
  max-width: 463px;
}

.about-box__text {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(28 / 16);
  margin-bottom: 32px;

  color: var(--secondary-accent-text);
}

.about-box__after--text {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(27 / 14);
  margin-bottom: 40px;

  color: var(--primary-text);
}

.about__btn {
  min-width: 176px;
  height: 44px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(21 / 16);
  align-items: center;
  text-align: center;

  color: var(--accent-color);
  background-color: var(--secondary-text);

  transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #ecebeb;
  }
}
