.products {
  padding-top: 80px;
  padding-bottom: 40px;

  @include tab {
    padding-top: 40px;
  }

  @include desk {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.products__pre-title {
  margin-bottom: 15px;

  font-family: 'Titan One', sans-serif;
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;

  color: var(--accent-text);

  @include tab {
    margin-bottom: 18px;
    font-size: 26px;
    line-height: 1.15;
  }

  @include desk {
    margin-bottom: 16px;
    font-size: 30px;
    line-height: 1.13;
  }
}

.products__title {
  margin-bottom: 148px;
  font-family: 'Titan One', sans-serif;
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: var(--accent-color);

  @include tab {
    margin-bottom: 154px;
    font-size: 48px;
    line-height: 1.14;
  }

  @include desk {
    margin-bottom: 261px;
    font-size: 58px;
    line-height: 1.14;
    letter-spacing: 0.06em;
  }
}

.products__list {
  text-align: center;

  @include tab {
    display: flex;
    flex-direction: row;
    margin-left: -16px;
  }

  @include desk {
    margin-left: -32px;
  }
}

.products__item--pink {
  background-color: #ffb8ca;
}

.products__item--coffee {
  background-color: #f0d1a5;
}

.products__item--green {
  background-color: #c2e297;
}

.products__item {
  width: 280px;
  position: relative;
  border-radius: 24px;
  margin: 0 auto;
  padding-right: 38px;
  padding-left: 38px;
  padding-bottom: 40px;
  padding-top: 160px;

  // @media screen and (max-width: 767px) {
  //   width: 280px;
  // }

  @include tab {
    width: calc((100% - 16px) / 2);
    margin-left: 16px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 118px;
  }

  @media screen and (min-width: 1280px) {
    width: calc((100% - 32px) / 2);
    margin-left: 32px;
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 165px;
    padding-bottom: 60px;
  }

  @include desk {
    width: calc((100% - 32px) / 2);
    margin-left: 32px;
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 165px;
    padding-bottom: 60px;
  }

  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 148px;
    }
  }

  &::before {
    display: block;
    position: absolute;
    top: 0%;
    right: 50%;
    transform: translate(50%, -50%);
    content: '';
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.products__item--title {
  font-weight: 400;
  margin-bottom: 32px;
  font-family: 'Titan One', sans-serif;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--secondary-text);
  margin-bottom: 32px;

  &::after {
    display: block;
    content: '';
    background-image: url(/images/products-ellipsis-1x.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 26px;
    height: 6px;
    text-align: center;
    margin: 32px auto;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(/images/products-ellipsis-1x.png);
    }
  }

  @media screen and (min-width: 1280px) {
    font-size: 30px;
    line-height: 1.13;
  }
}

.products__text,
.products__summary--text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;

  letter-spacing: 0.04em;
  color: var(--secondary-text);
  margin-bottom: 32px;

  @media screen and (min-width: 768px) {
    line-height: 1.76;
  }

  @media screen and (min-width: 1280px) {
    font-size: 16px;
    margin-bottom: 60px;
  }
}

.products__summary--text {
  padding-top: 20px;
}

.products-summary {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 40px;
  background-image: url(/images/arrow-right-1x.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: block;
  cursor: pointer;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(/images/arrow-right-2x.png);
  }
}

.box-pink::before {
  background-image: url(/images/products-pic1-mob-1x.png);
  width: 280px;
  height: 280px;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(/images/products-pic1-mob-2x.png);
  }

  @media screen and (min-width: 768px) {
    background-image: url(/images/products-pic1-tab-1x.png);
    width: 224px;
    height: 224px;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(/images/products-pic1-tab-2x.png);
    }
  }

  @media screen and (min-width: 1280px) {
    background-image: url(/images/products-pic1-desk-1x.png);
    top: -10%;
    width: 394px;
    height: 394px;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(/images/products-pic1-desk-2x.png);
    }
  }
}

.box-coffee::before {
  background-image: url(/images/products-pic2-mob-1x.png);
  width: 280px;
  height: 280px;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(/images/products-pic2-mob-2x.png);
  }

  @media screen and (min-width: 768px) {
    background-image: url(/images/products-pic2-tab-1x.png);
    width: 224px;
    height: 224px;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(/images/products-pic2-tab-2x.png);
    }
  }

  @media screen and (min-width: 1280px) {
    background-image: url(/images/products-pic2-desk-1x.png);
    top: -10%;
    width: 394px;
    height: 394px;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(/images/products-pic2-desk-2x.png);
    }
  }
}

.box-green::before {
  background-image: url(/images/products-pic3-mob-1x.png);
  width: 280px;
  height: 280px;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(/images/products-pic3-mob-2x.png);
  }

  @media screen and (min-width: 768px) {
    background-image: url(/images/products-pic3-tab-1x.png);
    width: 224px;
    height: 224px;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(/images/products-pic3-tab-2x.png);
    }
  }

  @media screen and (min-width: 1280px) {
    background-image: url(/images/products-pic3-desk-1x.png);
    top: -10%;
    width: 394px;
    height: 394px;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(/images/products-pic3-desk-2x.png);
    }
  }
}

// .products__text,
// .products__summary--text {
//   font-family: 'DM Sans';
//   font-style: normal;
//   font-weight: 700;
//   // font-size: 16px;
//   // line-height: calc(28 / 16);

//   font-size: 14px;
//   line-height: calc(21 / 14);

//   text-align: center;
//   margin-top: 10px;

//   color: #ffffff;
// }
